table{
    border-collapse: collapse;
}

td{
    text-align: center;
    width: 90px;
    height: 80px;
    font-size: 49px;
    padding: 8px;
    border: 1px solid black;
    cursor: pointer;
}

td.selectable{
cursor: pointer;
}

td:hover{
    background: aqua;
}

td.selected{
    background: #bada55;
}